html{
  font-family: 'Raleway', sans-serif;
  color: dimgray;
}
h1{
  font-size: 40px;
  border: thick solid;
  padding: 3px;
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}
h2{
  font-size: 24px;
}

.link a{
  font-size: 16px;
}

.link li{
  padding: 5px;
  margin: 0;
}

#projectlist{
  margin: 30px;
}

#header{
  text-align: center;
  background-image:url("../images/chicagoskyline.jpg");
  background-size: cover;
  background-position: bottom center;
  color: white;
  height:500px;
  width: 100%;
  width: auto;
  margin: 0 auto;
}
