html{
  font-family: 'Raleway', sans-serif;
  color: dimgray;
}

.header{
  text-align: center;
  background-image:url("../images/chicagoskyline.jpg");
  background-size: cover;
  background-position: bottom center;
  color: white;
  height:500px;
  width: 100%;
  width: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header h1{
  font-size: 40px;
  border: thick solid;
  padding: 3px;
  width: 600px;
  margin: 0 auto;
  position: relative;
  display: block;
}

h2{
  font-size: 24px;
}

.projectlist{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.projectlist nav{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

nav span{
  margin-top: 25px;
}
