.wall {
    background-color: blue;
    height: 40px;
    width: 40px;
    display: inline-block; 
}

.sushi {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block; 
    background-image: url('../images/sushi.png');
    background-size: cover;
}

.blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block; 
}

#ninjaman {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block; 
    background-image: url(../images/ninja.gif);
    background-size: cover;
    position: absolute;
}

.onigiri {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block; 
    background-image: url('../images/onigiri.png');
    background-size: cover;
}