body{
  margin: 0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 5;
}

.logo span{
  color: MediumAquamarine;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
  padding-left: 30px;
}

.nav{
  padding-right: 40px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav span{
  display: inline-block;
  padding: 20px 10px;
}

.content{
  display: flex;
  width: 1266px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column{
  margin-right: 32px;
}
.column.large{
  width: 630px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.column.medium{
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.column.small{
  width: 240px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.column.small div span{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
}

.column.small div h2{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.imagetext{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.imagetextmain{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.camera{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/img-story-3.png");
  height: 300px;
  width: 300px;
}

.earth{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/img-story-2.png");
  height: 300px;
  width: 300px;
}

.cats{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/img-story-1.png");
  height: 300px;
  width: 300px;
}

.main{
  display: flex;
  flex-direction: column;
  background-image: url("../images/img-story-main.png");
  height: 300px;
  width: 630px;
}

.story{
  display: flex;
  width: 300px;
  flex-direction: column;
}

.stories{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: space-around;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.footerlogonav{
  display: flex;
  flex-direction: row;
  height: 55px;
  align-items: center;
}
.footernav{
  padding-left: 25px;
}
.footernav span{
  padding-left: 25px;
}

.footerlogo{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 25px;
  display: inline-block;
}
